.unitMode_toggle_wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  --metric-label-color: hsl(48, 90%, 85%);
  --imperial-label-color: hsl(198, 90%, 15%);
  --metric-slider-color: hsl(23, 84%, 65%);
  --imperial-slider-color: hsl(198, 90%, 55%);
  --white: #f5f5f5;
}

.unitMode_checkbox_label {
  background-color: var(--metric-label-color);
  display: flex;
  align-items: center;
  width: 5rem;
  height: 2.5rem;
  border-radius: 25% / 50%;
  cursor: pointer;
  position: relative;
  transition: background-color 0.25s ease-in, box-shadow 0.25s ease-in-out;
}

.unitMode_slider {
  background-color: var(--metric-slider-color);
  box-shadow: 0 0 7px hsl(28, 90%, 55%);
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  left: 0.3rem;
  border-radius: 50%;
  transition: transform 0.25s ease-in-out;
}

.unitMode_checkbox_input {
  appearance: none;
  display: none;
}

.unitMode_checkbox_input:checked + .unitMode_checkbox_label .unitMode_slider {
  transform: translateX(2.6rem);
  background-color: var(--imperial-slider-color);
  box-shadow: 0 0 10px #2e67f8;
}

.unitMode_checkbox_input:checked + .unitMode_checkbox_label {
  background-color: var(--imperial-label-color);
  box-shadow: 0 0 0 0.125rem var(--white);
}

.metric_label,
.imperial_label {
  color: var(--white);
  text-shadow: var(--white) 1px 0 10px;
}

.unitMode_checkbox_label:hover .unitMode_slider {
  transform: scale(1.15);
  transition: transform 0.25s ease-in;
}

.unitMode_checkbox_input:checked
  + .unitMode_checkbox_label:hover
  .unitMode_slider {
  transform: translateX(2.6rem) scale(1.15);
  transition: transform 0.25s ease-in;
}

.hidden {
  display: none;
}

.selected_unit {
  font-weight: 700;
}
